.git
.gitignore
**/.gradle
app/build
PageFlip/build
pac-maze-engine/build
pac-maze-server/build/classes
pac-maze-server/build/kotlin
pac-maze-server/build/libs
pac-maze-server/build/tmp
pac-maze-server/build/distributions
**/node_modules
**/__pycache__
**/*.pyc
*.md
.idea
.cursor
local.properties
**/pb_data
**/secrets
xiangkuang.zip
